In [12]:
import numpy as np
import pandas as pd

In [13]:
dict1={
    'name': ["Ramesh",'Suresh','Jignesh','Mahesh'],
    'Marks': [92,34,24,17],
    "city": ["Delhi",'kolkata','Aurangabad','Surat']
}

In [14]:
df = pd.DataFrame(dict1)

In [15]:
df

      name  Marks        city
0   Ramesh     92       Delhi
1   Suresh     34     kolkata
2  Jignesh     24  Aurangabad
3   Mahesh     17       Surat

In [16]:
# convert dict into pandas 
# then convert pandas dataframe into excel
df.to_csv("friends_index_false.csv",index=False)

In [17]:
df.head()

      name  Marks        city
0   Ramesh     92       Delhi
1   Suresh     34     kolkata
2  Jignesh     24  Aurangabad
3   Mahesh     17       Surat

In [18]:
df.tail()

      name  Marks        city
0   Ramesh     92       Delhi
1   Suresh     34     kolkata
2  Jignesh     24  Aurangabad
3   Mahesh     17       Surat

In [19]:
df
df.to_csv("friends.csv")

In [20]:
df.describe()

          Marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   Marks   4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [22]:
df1 = pd.read_csv('friends.csv')
df1

   Unnamed: 0     name  Marks        city
0           0   Ramesh     92       Delhi
1           1   Suresh     34     kolkata
2           2  Jignesh     24  Aurangabad
3           3   Mahesh     17       Surat

In [23]:
df1['name']

0     Ramesh
1     Suresh
2    Jignesh
3     Mahesh
Name: name, dtype: object

In [24]:
df1['name'][0] = 'sakshi'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df1

   Unnamed: 0     name  Marks        city
0           0   sakshi     92       Delhi
1           1   Suresh     34     kolkata
2           2  Jignesh     24  Aurangabad
3           3   Mahesh     17       Surat

In [26]:
df1.index =['first','second','third','fourth']

In [27]:
df1

        Unnamed: 0     name  Marks        city
first            0   sakshi     92       Delhi
second           1   Suresh     34     kolkata
third            2  Jignesh     24  Aurangabad
fourth           3   Mahesh     17       Surat

Pandas series object and pandas dataframes and no machine learning technologies can be used in excel

Numpy is written in c language and is used as it is faster and pandas provides easy preprocessing of array

Primarly pandas has two types of data structures 
Series  it's one dimensiona; array with indexes it stores a single column or rows of data in dataframe
DataFrame = it's is tabular spreadsheet like structure contains multiple rows or columns

Rows are called index and columns are called columns

###Series

In [28]:
ser = pd.Series(np.random.rand(34))

In [29]:
ser

0     0.109019
1     0.483437
2     0.339162
3     0.317437
4     0.709311
5     0.004805
6     0.608191
7     0.639230
8     0.381375
9     0.439570
10    0.407259
11    0.204542
12    0.483760
13    0.345005
14    0.201139
15    0.519054
16    0.853695
17    0.603342
18    0.049988
19    0.309314
20    0.656368
21    0.838080
22    0.359751
23    0.325671
24    0.301427
25    0.761910
26    0.348326
27    0.393806
28    0.095609
29    0.774656
30    0.701818
31    0.260846
32    0.449514
33    0.532608
dtype: float64

In [30]:
type(ser)

pandas.core.series.Series

In [31]:
newdf = pd.DataFrame(np.random.rand(334,5),index = np.arange(334))#a range is similar to range
newdf.head()

          0         1         2         3         4
0  0.115386  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824
2  0.175967  0.866451  0.165938  0.391478  0.209519
3  0.534529  0.747393  0.956877  0.517953  0.607657
4  0.097472  0.728258  0.104427  0.865774  0.149380

In [32]:
type(newdf)

pandas.core.frame.DataFrame

In [33]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.492138    0.487264    0.497202    0.492789    0.497318
std      0.295401    0.282645    0.290801    0.289783    0.289785
min      0.001460    0.001847    0.004140    0.000319    0.001048
25%      0.216509    0.235668    0.234380    0.249036    0.249211
50%      0.488009    0.497031    0.520520    0.479560    0.492437
75%      0.735234    0.719747    0.739351    0.741880    0.757521
max      0.999517    0.994829    0.997708    0.995095    0.998902

In [34]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [35]:
newdf[0][0]="vidushi"
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [36]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [37]:
newdf.to_numpy()

array([['vidushi', 0.5037301524571777, 0.011298148155257093,
        0.28595369277850957, 0.13281752381819745],
       [0.8323481488140722, 0.7422965280940798, 0.3092651441256502,
        0.22647365798385355, 0.6268243618157331],
       [0.1759665930133807, 0.8664508847812664, 0.16593798762720058,
        0.39147845896537503, 0.20951888542162678],
       ...,
       [0.21800482230998763, 0.9061755291844421, 0.5102443087480282,
        0.011771962068990338, 0.13696758618688376],
       [0.5373935388732152, 0.7275031811418332, 0.20741860699789738,
        0.18633465396998594, 0.823686774336122],
       [0.3287228828468054, 0.9453327251498911, 0.7398339920367774,
        0.08113698795655022, 0.7272169900582495]], dtype=object)

In [38]:
newdf[0][0]=0.3
newdf.head()

          0         1         2         3         4
0       0.3  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824
2  0.175967  0.866451  0.165938  0.391478  0.209519
3  0.534529  0.747393  0.956877  0.517953  0.607657
4  0.097472  0.728258  0.104427  0.865774  0.149380

In [39]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.328723  0.945333  0.739834  0.081137  0.727217
332  0.537394  0.727503  0.207419  0.186335  0.823687
331  0.218005  0.906176  0.510244  0.011772  0.136968
330  0.317287  0.958110  0.436794  0.168933  0.303030
329  0.961491  0.311035  0.501211  0.308557  0.761206
..        ...       ...       ...       ...       ...
4    0.097472  0.728258  0.104427  0.865774  0.149380
3    0.534529  0.747393  0.956877  0.517953  0.607657
2    0.175967  0.866451  0.165938  0.391478  0.209519
1    0.832348  0.742297  0.309265  0.226474  0.626824
0         0.3  0.503730  0.011298  0.285954  0.132818

[334 rows x 5 columns]

In [40]:
newdf.head()

          0         1         2         3         4
0       0.3  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824
2  0.175967  0.866451  0.165938  0.391478  0.209519
3  0.534529  0.747393  0.956877  0.517953  0.607657
4  0.097472  0.728258  0.104427  0.865774  0.149380

In [41]:
type(newdf[0])

pandas.core.series.Series

In [42]:
#
newdf2 =newdf# is the same dataset
newdf2 = newdf.copy()

In [43]:
newdf.loc[0,0]= 654

In [44]:
newdf.head(2)

          0         1         2         3         4
0       654  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824

In [45]:
newdf.columns=['a','b','c','d','e']

In [46]:
newdf.head()

          a         b         c         d         e
0       654  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824
2  0.175967  0.866451  0.165938  0.391478  0.209519
3  0.534529  0.747393  0.956877  0.517953  0.607657
4  0.097472  0.728258  0.104427  0.865774  0.149380

In [47]:
newdf.loc[0, 'a']=6544
newdf.head()

          a         b         c         d         e
0      6544  0.503730  0.011298  0.285954  0.132818
1  0.832348  0.742297  0.309265  0.226474  0.626824
2  0.175967  0.866451  0.165938  0.391478  0.209519
3  0.534529  0.747393  0.956877  0.517953  0.607657
4  0.097472  0.728258  0.104427  0.865774  0.149380

In [48]:
newdf.loc[0,0]=654
newdf.head()

          a         b         c         d         e      0
0      6544  0.503730  0.011298  0.285954  0.132818  654.0
1  0.832348  0.742297  0.309265  0.226474  0.626824    NaN
2  0.175967  0.866451  0.165938  0.391478  0.209519    NaN
3  0.534529  0.747393  0.956877  0.517953  0.607657    NaN
4  0.097472  0.728258  0.104427  0.865774  0.149380    NaN

In [49]:
newdf.drop(0, axis=1)
# axis=1 column
# axis=0 rows

            a         b         c         d         e
0        6544  0.503730  0.011298  0.285954  0.132818
1    0.832348  0.742297  0.309265  0.226474  0.626824
2    0.175967  0.866451  0.165938  0.391478  0.209519
3    0.534529  0.747393  0.956877  0.517953  0.607657
4    0.097472  0.728258  0.104427  0.865774  0.149380
..        ...       ...       ...       ...       ...
329  0.961491  0.311035  0.501211  0.308557  0.761206
330  0.317287  0.958110  0.436794  0.168933  0.303030
331  0.218005  0.906176  0.510244  0.011772  0.136968
332  0.537394  0.727503  0.207419  0.186335  0.823687
333  0.328723  0.945333  0.739834  0.081137  0.727217

[334 rows x 5 columns]

In [50]:
newdf.loc[[1,2],['c','d']]

          c         d
1  0.309265  0.226474
2  0.165938  0.391478

In [51]:
newdf.head()

          a         b         c         d         e      0
0      6544  0.503730  0.011298  0.285954  0.132818  654.0
1  0.832348  0.742297  0.309265  0.226474  0.626824    NaN
2  0.175967  0.866451  0.165938  0.391478  0.209519    NaN
3  0.534529  0.747393  0.956877  0.517953  0.607657    NaN
4  0.097472  0.728258  0.104427  0.865774  0.149380    NaN

In [52]:
newdf.loc[:, ['c','d']]

            c         d
0    0.011298  0.285954
1    0.309265  0.226474
2    0.165938  0.391478
3    0.956877  0.517953
4    0.104427  0.865774
..        ...       ...
329  0.501211  0.308557
330  0.436794  0.168933
331  0.510244  0.011772
332  0.207419  0.186335
333  0.739834  0.081137

[334 rows x 2 columns]

In [53]:
newdf.loc[[1,2],:]

          a         b         c         d         e   0
1  0.832348  0.742297  0.309265  0.226474  0.626824 NaN
2  0.175967  0.866451  0.165938  0.391478  0.209519 NaN

In [54]:
# running queries
newdf.loc[(newdf['a']<0.3)]

            a         b         c         d         e   0
2    0.175967  0.866451  0.165938  0.391478  0.209519 NaN
4    0.097472  0.728258  0.104427  0.865774  0.149380 NaN
6    0.080011  0.515389  0.849179  0.100793  0.163600 NaN
7    0.120488  0.962550  0.087475  0.014311  0.942528 NaN
16   0.130339  0.545285  0.876784  0.603274  0.932701 NaN
..        ...       ...       ...       ...       ...  ..
319  0.127042  0.037716  0.649503  0.649655  0.862709 NaN
321   0.16774  0.137963  0.159771  0.257792  0.767597 NaN
322  0.273326  0.276376  0.024712  0.787025  0.459094 NaN
324  0.125153  0.863449  0.927620  0.602163  0.640512 NaN
331  0.218005  0.906176  0.510244  0.011772  0.136968 NaN

[107 rows x 6 columns]

In [55]:
newdf.loc[(newdf['a']<0.3) & (newdf['c']>0.12)]

            a         b         c         d         e   0
2    0.175967  0.866451  0.165938  0.391478  0.209519 NaN
6    0.080011  0.515389  0.849179  0.100793  0.163600 NaN
16   0.130339  0.545285  0.876784  0.603274  0.932701 NaN
17   0.181271  0.013351  0.852181  0.233601  0.923297 NaN
19   0.151417  0.956739  0.299839  0.123997  0.093047 NaN
..        ...       ...       ...       ...       ...  ..
314  0.252732  0.785564  0.260517  0.670840  0.245792 NaN
319  0.127042  0.037716  0.649503  0.649655  0.862709 NaN
321   0.16774  0.137963  0.159771  0.257792  0.767597 NaN
324  0.125153  0.863449  0.927620  0.602163  0.640512 NaN
331  0.218005  0.906176  0.510244  0.011772  0.136968 NaN

[89 rows x 6 columns]

In [56]:
newdf.iloc[0,4]# we don't need the name of columna and row then

0.13281752381819745

In [57]:
newdf.iloc[[0,5], [1,2]]

          b         c
0  0.503730  0.011298
5  0.994829  0.460924

In [58]:
newdf.head(3)

          a         b         c         d         e      0
0      6544  0.503730  0.011298  0.285954  0.132818  654.0
1  0.832348  0.742297  0.309265  0.226474  0.626824    NaN
2  0.175967  0.866451  0.165938  0.391478  0.209519    NaN

In [59]:
newdf

            a         b         c         d         e      0
0        6544  0.503730  0.011298  0.285954  0.132818  654.0
1    0.832348  0.742297  0.309265  0.226474  0.626824    NaN
2    0.175967  0.866451  0.165938  0.391478  0.209519    NaN
3    0.534529  0.747393  0.956877  0.517953  0.607657    NaN
4    0.097472  0.728258  0.104427  0.865774  0.149380    NaN
..        ...       ...       ...       ...       ...    ...
329  0.961491  0.311035  0.501211  0.308557  0.761206    NaN
330  0.317287  0.958110  0.436794  0.168933  0.303030    NaN
331  0.218005  0.906176  0.510244  0.011772  0.136968    NaN
332  0.537394  0.727503  0.207419  0.186335  0.823687    NaN
333  0.328723  0.945333  0.739834  0.081137  0.727217    NaN

[334 rows x 6 columns]

In [60]:
newdf.drop(['a'],axis=1,inplace=True)
newdf

            b         c         d         e      0
0    0.503730  0.011298  0.285954  0.132818  654.0
1    0.742297  0.309265  0.226474  0.626824    NaN
2    0.866451  0.165938  0.391478  0.209519    NaN
3    0.747393  0.956877  0.517953  0.607657    NaN
4    0.728258  0.104427  0.865774  0.149380    NaN
..        ...       ...       ...       ...    ...
329  0.311035  0.501211  0.308557  0.761206    NaN
330  0.958110  0.436794  0.168933  0.303030    NaN
331  0.906176  0.510244  0.011772  0.136968    NaN
332  0.727503  0.207419  0.186335  0.823687    NaN
333  0.945333  0.739834  0.081137  0.727217    NaN

[334 rows x 5 columns]

In [61]:
newdf.drop([2, 3], axis=0,inplace=True)
newdf

            b         c         d         e      0
0    0.503730  0.011298  0.285954  0.132818  654.0
1    0.742297  0.309265  0.226474  0.626824    NaN
4    0.728258  0.104427  0.865774  0.149380    NaN
5    0.994829  0.460924  0.138112  0.138742    NaN
6    0.515389  0.849179  0.100793  0.163600    NaN
..        ...       ...       ...       ...    ...
329  0.311035  0.501211  0.308557  0.761206    NaN
330  0.958110  0.436794  0.168933  0.303030    NaN
331  0.906176  0.510244  0.011772  0.136968    NaN
332  0.727503  0.207419  0.186335  0.823687    NaN
333  0.945333  0.739834  0.081137  0.727217    NaN

[332 rows x 5 columns]

In [62]:
newdf.reset_index(drop=True,inplace=True)

In [63]:
newdf.head()

          b         c         d         e      0
0  0.503730  0.011298  0.285954  0.132818  654.0
1  0.742297  0.309265  0.226474  0.626824    NaN
2  0.728258  0.104427  0.865774  0.149380    NaN
3  0.994829  0.460924  0.138112  0.138742    NaN
4  0.515389  0.849179  0.100793  0.163600    NaN

In [64]:
newdf['b'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Name: b, Length: 332, dtype: bool

In [65]:
newdf['b'] = None

In [66]:
newdf

        b         c         d         e      0
0    None  0.011298  0.285954  0.132818  654.0
1    None  0.309265  0.226474  0.626824    NaN
2    None  0.104427  0.865774  0.149380    NaN
3    None  0.460924  0.138112  0.138742    NaN
4    None  0.849179  0.100793  0.163600    NaN
..    ...       ...       ...       ...    ...
327  None  0.501211  0.308557  0.761206    NaN
328  None  0.436794  0.168933  0.303030    NaN
329  None  0.510244  0.011772  0.136968    NaN
330  None  0.207419  0.186335  0.823687    NaN
331  None  0.739834  0.081137  0.727217    NaN

[332 rows x 5 columns]

In [67]:
# better to use loc to do this
newdf.loc[:, ['b']] = 56
newdf

      b         c         d         e      0
0    56  0.011298  0.285954  0.132818  654.0
1    56  0.309265  0.226474  0.626824    NaN
2    56  0.104427  0.865774  0.149380    NaN
3    56  0.460924  0.138112  0.138742    NaN
4    56  0.849179  0.100793  0.163600    NaN
..   ..       ...       ...       ...    ...
327  56  0.501211  0.308557  0.761206    NaN
328  56  0.436794  0.168933  0.303030    NaN
329  56  0.510244  0.011772  0.136968    NaN
330  56  0.207419  0.186335  0.823687    NaN
331  56  0.739834  0.081137  0.727217    NaN

[332 rows x 5 columns]

In [68]:

df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [69]:
df.dropna()# drops the rows with elements are missing

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [70]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [71]:
df.dropna(axis='columns')

       name
0    Alfred
1    Batman
2  Catwoman

In [72]:
df.dropna(how='all')# drop rows where all the data are missing

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [73]:
df.dropna(inplace=True)
df

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [74]:
df['name'].value_counts(dropna=False)

Batman    1
Name: name, dtype: int64

In [75]:
df.notnull()

   name   toy  born
1  True  True  True

In [76]:
# Create a New DataFrame
newdf1 = pd.DataFrame(np.random.rand(3,2),index = np.arange(3))
newdf1

          0         1
0  0.645312  0.332063
1  0.971308  0.199351
2  0.135123  0.731000